/* ########## HEADER ########## */
header{
  background-color: #ffff99;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
}

#menu-button-image{
  display: inline-block;
  background-image: url("../media/header-footer/menu-button-of-three-horizontal-lines.png");
  position: absolute;
  top: 10px;
  left: 6px;
  width: 25px;
  height: 25px;
}

#home-button-image{
  display: inline-block;
  background-image: url("../media/header-footer/techonomy-white-bg.png");
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-left: 35px;
}

.search-bar {
  display: inline-block;
  margin-left: 20px;
}

#search-button-image {
  position: absolute;
  background-image: url("../media/header-footer/magnifying-glass.png");
  padding-right: 0;
  top: 15px;
  width: 20px;
  height: 20px;
  transform: translateX(3px);
}

#form-search {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  left: 5px;
  top: -8px;
}

#search-query {
  position: relative;
  width: 375px;
  height: 25px;
  margin: 0;
  padding: 0;
  top: -10px;
  font-family: sans-serif;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
  border: 2px;
  border-radius: 6px;
}

#search-query:focus {
  border: 2px solid #00cccc;
  outline: none;
}

#cart-button-image{
  display: inline-block;
  background-image: url("../media/header-footer/shopping-cart.png");
  position: absolute;
  top: 10px;
  right: 45px;
  width: 30px;
  height: 30px;
}

#login-button-image{
  display: inline-block;
  background-image: url("../media/header-footer/user.png");
  position: absolute;
  top: 10px;
  right: 0;
  width: 30px;
  height: 30px;
}

/* ########## FOOTER ########## */

footer {
  background-color: #ffff99;

  width: 100%;
  left: 0px;
  position: absolute;
}

/* FOOTER COMPANY INFO */
#footer-company-info {
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 50px;
}
#footer-company {
  font-size: 18px;
  font-weight: bold;
}
#footer-company::after {
  content: "\a";
  white-space: pre;
}

/* FOOTER LOGO SOCIAL */
#footer-logo-social {
  display: inline-block;
  position: absolute;
  text-align: center;
  right: 50px;
  margin-top: 20px;
}
#footer-logo {
  width: 330px;
  height: auto;
}
#footer-social {
  margin-top: -15px;
}
#twitter-button-image,
#instagram-button-image,
#facebook-button-image,
#youtube-button-image {
  display: inline-block;
  width: 30px;
  height: 30px;
}
#twitter-button-image {
  background-image: url("../media/header-footer/twitter.png");
  margin-right: 20px;
}
#instagram-button-image {
  background-image: url("../media/header-footer/instagram.png");
  margin-right: 20px;
}
#facebook-button-image {
  background-image: url("../media/header-footer/facebook.png");
  margin-right: 20px;
}
#youtube-button-image {
  background-image: url("../media/header-footer/youtube.png");
}

/* FOOTER CONTACT TELEPHONE*/
#footer-contact {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
#footer-txt-contact {
  font-size: 13px;
  font-weight: lighter;
}

#slogan {
  position: absolute;
  right: 0;
}

/* ########## aboutProduct ########## */

#product-page-components {
  margin: 80px 200px 0px 200px;
}

#navigation-text {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background: #f0eee9;
  border-radius: 6px;
}

.full-width-stripe {
  background-color: #ffffaa;
  margin-left: -208px;
  margin-right: -208px;
  padding: 10px 0px 10px 180px;
  color: #301f0e;
}

#navigation-text {
  font-size: 14px;
  font-weight: bold;
}

#product-page-star-rating {
  font-size: 22px;
}

/* small description */
#product-page-main-image {
  float: left;
  width: 500px;
  margin-right: 20px;
}
#product-page-small-info {
  overflow: hidden;
  margin-top: 80px;
}
#product-page-price {
  font-size: 40px;
  font-weight: bold;
  color: #c50707;
  margin-top: 30px;
}

/* add to cart button */
#add-to-cart-button {
  margin-top: 10px;
  border: 2px;
  border-radius: 4px;
  background-color: #5bb356;
  padding: 0.8em 3em;
  font-weight: bold;
  color: white;
  font-size: 16px;
}
#add-to-cart-img {
  float: right;
  margin-left: 10px;
  width: 25px;
  margin-top: -4px;
}

/* description */
#product-page-descr {
  clear: both;
}
.descr-item {
  display: inline-block;
  margin-top: 30px;
}
.descr-item-title {
  font-size: 20px;
}
img.descr-img-right {
  width: 400px;
  float: right;
  margin-left: 20px;
}
img.descr-img-left {
  width: 400px;
  float: left;
  margin-right: 20px;
}
.descr-txt {
  margin-top: 60px;
}

/* manufacturer */
#product-page-manufacturer {
  margin-top: 60px;
}
#link-to-manufacturer {
  margin-top: 30px;
}

/* features */
#product-page-features {
  margin-top: 60px;
}
.product-features-title {
  margin-top: 30px;
  font-size: 17px;
}
table.product-features {
  margin-top: 10px;
  width: 700px;
  border-spacing: 0;
  border-radius: 6px;
  border-collapse: collapse;
}
table.product-features tr {
  border: 2px solid white;
  border-radius: 10px;
  line-height: 200%;
  background-color: #f0eee9;
}
table.product-features th {
  color: #363433;
  text-align: left;
  width: 250px;
  padding-left: 10px;
}
table.product-features td {
  width: 250px;
  padding-left: 10px;
}

/* reviews */
#product-page-reviews {
  margin-top: 60px;
}
#reviews-content {
  margin-top: 20px;
}
#product-page-review-list {
  list-style-type: none;
}
#product-page-review-list li {
  padding: 10px;
  background: #f0eee9;
  border-radius: 10px;
  margin-bottom: 10px;
}
.reviewer-img {
  float: left;
  width: 40px;
  margin-right: 10px;
}
.reviewer-name {
  font-weight: bold;
}

/* ########## product-categories ########## */

#product-categories-page-components {
  margin: 80px 300px 0px 200px;
}

#product-categories-title {
  margin-left: 100px;
  color: #301f0e;
}

.product-categories-list {
  list-style-type: none;
  padding-left: 100px;
}

.product-categories-button {
  width: 100%;
  padding: 10px;
  background: #ffffaa;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: #5c3814;
}

.product-categories-icon {
  float: left;
  margin: -3px 25px 0px 5px;
  width: 25px;
}

/* ############################## */

button {
  background: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
